
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using (Html.BeginForm("Create", "Kullanici", FormMethod.Post))
{
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Kullanıcı Ekle</h4>
            </div>
            <div class="content">
                <form action="Create">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>Ad</label>
                                <input type="text" name="ad" class="form-control" placeholder="Ad">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Soyad</label>
                                <input type="text" name="soyad" class="form-control" placeholder="Soyad">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tc numarası</label>
                                <input type="text" name="tcnumarasi" class="form-control" placeholder="Tc numarası">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Telefon numarası</label>
                                <input type="text" name="telno" class="form-control" placeholder="Telefon numarası">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Kullanıcı Adı</label>
                                <input type="text" name="kullaniciadi" class="form-control" placeholder="Kullanıcı Adı">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Şifre</label>
                                <input type="text" name="sifre" class="form-control" placeholder="Şifre">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Adres</label>
                                <input type="text" name="adres" class="form-control" placeholder="Adres">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mail Adresi</label>
                                <input type="text" name="mailadres" class="form-control" placeholder="Mail adresi">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ehliyet Tipi</label>
                                <input type="text" name="ehliyettipi" class="form-control" placeholder="Ehliyet Tipi">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Doğum Tarihi</label>
                                <input type="date" name="dogumtarihi" class="form-control" placeholder="Doğum tarihi">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ehliyet Tarihi</label>
                                <input type="date" name="ehliyettarihi" class="form-control" placeholder="Ehliyet Tarihi">
                            </div>
                        </div>
                    </div>

                    <input type="submit" name="kullaniciekle" value="KullaniciEkle" btn btn-info btn-fill pull-right" />Kullanıcı Ekle
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

}

