
@{
    Layout = null;
}


<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->
    <!--Custom styles-->
    
</head>
<body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Giriş Yap</h3>

                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="kullaniciAdi" class="form-control" placeholder="Kullanıcı Adı">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" id="parola" class="form-control" placeholder="Parola">
                        </div>

                        <div class="form-group">
                            <input type="button" id="btnGiris" value="Giriş Yap" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    @Html.Hidden("RedirectTo", Url.Action("GirisYap", "Login"));

    <script src="~/Scripts/bootstrap.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

    <script>
        $("#btnGiris").click(function () {
            var userName = $("#kullaniciAdi").val();
            var password = $("#parola").val();
             var url = $("#RedirectTo").val();
            alert("213 " + userName + " " + password);
            $.ajax({
                url: "http://localhost:54205/api/login?kullaniciAdi=" + userName + "&parola=" + password,
                type: "POST",
                crossDomain: true,
                data: {
                    username: userName,
                    password: password,
                    grant_type: "password"
                },
                dataType: "json",
                success: function (data) {
                    localStorage.setItem("Anahtar", JSON.stringify(data));
                   
                    window.location.href = url;



                },
                error: function (xhr, status, error) {
                    alert("Hata : " + error);
                }
            });
        })

    </script>
</body>
</html>