
@{
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="kaydol.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Giriş Yap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <!---heading---->
        <header class="heading"> Kaydol</header><hr></hr>
        <!---Form starting---->
        <div class="row ">
            <!--- For Name---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="lastname">Kullanıcı Adı</label>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" name="lname" id="lname" placeholder="Kullanıcı Adı" class="form-control last">
                    </div>
                </div>
            </div>


            <!-----For email---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="lastname">Email</label>
                    </div>
                    <div class="col-xs-6">
                        <input type="email" name="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
            </div>
            <!-----For Password and confirm password---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="lastname">Şifre</label>
                    </div>
                    <div class="col-xs-6">
                        <input type="password" name="password" id="password" placeholder="Şifre" class="form-control">
                    </div>
                </div>

                <div class="col-sm-12" style="margin-top:10px">
                    <div class="row">
                        <div class="col-xs-12">
                            <div>
                                <input type="submit" value="Kaydol" class="btn login_btn">
                            </div>
                        </div>

                    </div>
                </div>




            </div>


        </div>

</body>
</html>


