
@{
    ViewBag.Title = "Araç Ekle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Araç Ekle</h4>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Marka</label>
                                <input type="text" id="aracadi" class="form-control" placeholder="Marka">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Model</label>
                                <input type="text" id="aracmodeli" class="form-control" placeholder="Model">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Yakıt</label>
                                <select id="yakittipi" class="form-control">
                                    <option value="Benzin">Benzin</option>
                                    <option value="Dizel">Dizel</option>
                                    <option value="Otogaz">Otogaz</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Vites</label>
                                <select id="vitestipi" class="form-control">
                                    <option value="Manuel">Manuel</option>
                                    <option value="Otomatik">Otomatik</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Plaka</label>
                                <input type="text" id="plaka" class="form-control" placeholder="Plaka">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Araç Kilometresi</label>
                                <input type="text" id="arackm" class="form-control" placeholder="Araç Kilometresi">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Koltuk Sayısı</label>
                                <input type="text" id="koltuksayisi" class="form-control" placeholder="Koltuk Sayısı">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Air Bag</label>
                                <select id="havayastigi" class="form-control">
                                    <option value="Manual">Var</option>
                                    <option value="Otomatik">Yok</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Bagaj Hacmi</label>
                                <input type="text" id="bagajhacmi" class="form-control" placeholder="Bagaj Hacmi">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Günlük Sınır Kilometresi</label>
                                <input type="text" id="gunlukkmsinir" class="form-control" placeholder="Günlük Sınır Kilometresi">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Günlük Kira Miktarı</label>
                                <input type="text" id="gunlukkirabedeli" class="form-control" placeholder="Günlük Kira Miktarı">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Gereken Ehliyet Yaşı</label>
                                <input type="text" id="gerekenehliyetyasi" class="form-control" placeholder="Gereken Ehliyet Yaşı">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Minimum Yaş Sınırı</label>
                                <input type="text" id="minyassiniri" class="form-control" placeholder="Minimum Yaş Sınırı">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Araç Resmi</label>
                                <input type="text" id="aracresmi" class="form-control" placeholder="Araç Resmi">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Araç Gider</label>
                                <input type="text" id="aracgider" class="form-control" placeholder="Araç Gider">
                            </div>
                        </div>
                    </div>

                    <input type="button" id="aracekle" value="Araç Ekle" class="btn btn-info btn-fill pull-right" />
                    <div class="clearfix"></div>
                    <input type="hidden" id="sirketId" />
                </form>
            </div>
        </div>
    </div>

<script>

    $("#aracekle").click(function () {
            
        var car = new Object();

         var token = localStorage.getItem("Anahtar");

                    $.ajax({
                        type: "GET",
                        url: "http://localhost:54205/api/kullanici?Anahtar=" + token,
                        data: user,
                        success: function () {
                            $.ajax({

                                type: "GET",
                                url:"http://localhost:54205/api/yonetici?KullaniciId="+user.KullaniciId,
                                data: yonetici,
                                success: function () {
                                     $("#sirketId").val(yonetici.SirketID);
                                   
                                }

                            })
                        }
                    });
           
            car.Plaka = $("#plaka").val();
            car.AracAdi = $("#aracadi").val();
            car.AracModeli = $("#aracmodeli").val();
            car.GerekenEhliyetYasi = $("#gerekenehliyetyasi").val();
            car.MinimumYasSiniri = $("#minyassiniri").val();
            car.GunlukKmSiniri = $("#gunlukkmsinir").val();
            car.AracKm = $("#arackm").val();
            car.HavaYastigi = $("#havayastigi").val();
            car.BagajHacmi = $("#bagajhacmi").val();
            car.KoltukSayisi = $("#koltuksayisi").val();
            car.GunlukKiraBedeli = $("#gunlukkirabedeli").val();
            car.YakitTipi = $("#yakittipi").val();
            car.VitesTipi = $("#vitestipi").val();
            car.AracResmi = $("#aracresmi").val();
            car.SirketID = $("#sirketId").val();
            car.AracGider = $("#aracgider").val();
        
           


            $.ajax({
                type: "POST",
                url: "http://localhost:54205/api/arac/",
                data: car,
                success: function () {
                    alert("BAŞARILI");
                    
                }
            });
        });

</script>

