
@{
    ViewBag.Title = "Araç Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<section class="product-section">
    <div class="container">
        <div class="back-link">
            <a href="./category.html"> &lt;&lt; Back to Category</a>
        </div>
        <input type="hidden" id="SirketId"/>
        <div class="row" id="aracdetayi">
        
        </div>   
    </div>
</section>

<script>


        
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:54205/api/arac",
            success: function (data) {
                $.each(data, function (i, val) {
                    var a = val.AracID;
                    var b = val.AracResmi;
                    var c = val.SirketID;


                    $("#SirketId").val(c);

                    $("#aracdetayi").after(
                        '<div class="col-lg-6">' +
                        '<div class="product-pic-zoom">' +
                        '<img class="product-big-img" src="~/Content/images/' + b + '">' +
                        ' </div>' +
                        '</div>' +
                        '<div class="col-lg-6 product-details">' +
                        '<h2 class="p-title">' + val.AracAdi + '</h2>' +
                        '<h3 class="p-price">' + val.GunlukKiraBedeli + '</h3>' +
                        '<h4 class="p-stock">Rezerve durumu: <span>In Stock</span></h4>' +
                        '<a href="#" class="site-btn">Rezerve Et</a>' +
                        ' <div id="accordion" class="accordion-area">' +
                        '<div class="panel">' +
                        '<div class="panel-header" id="headingOne">' +
                        ' <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Araç Bilgisi</button>' +
                        '</div>' +
                        '<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">' +
                        ' <div class="panel-body">' +
                        ' <h5>' + val.AracAdi + ' </h5>' +
                        ' <h5>' + val.AracModeli + '</h5>' +
                        '<h5>' + val.GunlukKiraBedeli + '</h5>' +
                        '</div>' +
                        '</div>' +
                        '</div>'
                    )
                });
            }
        });

        var sirket = $("#SirketId").val();

        $.ajax({
            type: "GET",
            url: "" + sirket,
            success: function (data) {

                $("#aracdetayi").after(
                    '<div class="panel">' +
                    '<div class="panel-header" id="headingTwo">' +
                    '<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Firma Bilgisi </button>' +
                    '</div>' +
                    '<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">' +
                    '<div class="panel-body">' +
                    +data.Ad + '<br/>' +
                    data.Puan +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>'

                )
            }
        });
    }); 



</script>

