
@{
    ViewBag.Title = "Araç Sil";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Araç Sil</h4>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Plaka</label>
                                <select class="form-control" id="cmbPlaka">
                                    <option value="Plaka1">Plaka1</option>
                                    <option value="Plaka2">Plaka2</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <input type="button" id="aracsil" value="Araç Sil " class="btn btn-info btn-fill pull-right">
                    <input id="sirketid" type="hidden" />
                    <input id="aracid" type="hidden" />
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
<script>
     $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:54205/api/arac/",
            success: function (data) {
                $.each(data, function (i, val) {
                    $("#cmbPlaka").append(
                        '<option>' + val.Plaka + '</option>'
                    )
                })
            }
        });

        $("#cmbPlaka").change(function () {
            var seciliPlaka = $(this).children("option:selected").val();
            alert(seciliPlaka);
            $.ajax({
                type: "GET",
                url: "http://localhost:54205/api/arac?Plaka=" + seciliPlaka,
                success: function (data) {
                    $("#sirketid").val(data.SirketID);
                    $("#aracid").val(data.AracID);
                }
            });
        });


         $("#aracsil").click(function () {

             var sirketID = $("#sirketid").val();
             var aracID = $("#aracid").val();

             var sirket = new Object();  
            //TODO ŞİRKET YAZILACAK,
            

             $.ajax({
                 type: "DELETE",
                 url: ""+aracID,
                 success: function (data) {

                     $.ajax({

                         type: "PUT",
                         url: "" + sirketID,
                         data: sirket,
                         success: function () {
                             alert("Tamamlandı");
                         }
                     })
                 }
             })

         })
    });

</script>

