
@{
    ViewBag.Title = "Araç Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<section class="product-section">
    <div class="container">
        <div class="back-link">
            <a href="./category.html"> &lt;&lt; Back to Category</a>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-pic-zoom">
                    <img class="product-big-img" src="https://st1.myideasoft.com/idea/cy/49/myassets/products/171/05-257_min.jpg?revision=1527059655" alt="">
                </div>
            </div>
            <div class="col-lg-6 product-details">
                <h2 class="p-title">Araç adı</h2>
                <h3 class="p-price">$39.90</h3>
                <h4 class="p-stock">Rezerve durumu: <span>In Stock</span></h4>
                <a href="#" class="site-btn">Rezerve Et</a>
                <div id="accordion" class="accordion-area">
                    <div class="panel">
                        <div class="panel-header" id="headingOne">
                            <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Araç Bilgisi</button>
                        </div>
                        <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="panel-body">
                                <h5> @ViewBag.AracAdi </h5>
                                <h5>@ViewBag.AracModeli</h5>   
                                <h5>@ViewBag.GunlukKiraBedeli</h5>   

                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header" id="headingTwo">
                            <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Firma Bilgisi </button>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="panel-body">
                                Firma bilgisi buraya yazılır
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

